body {
  margin: 0;
  padding: 0;
  padding-bottom:30px;
  font-family: arial,sans-serif;
}

h1 {
  font-family: arial,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul {
      list-style: none;
      width:90%;
}

nav ul li {
          display:inline;
}

hr {
  width:85%;
  margin-top:20px;
}


li:nth-child(2), li:last-child {
float:right;
margin-right:20px;
font-size:12px;
font-weight: 700;
}

li:nth-child(2) {
  background-color:#EAEAEA;
  border-radius: 10px;
  padding:10px;
}

li:last-child {
  background-color:#00AA44;
  border-radius:10px;
  padding:10px;
}

a:link {
  text-decoration: none;
  color:black;
}

a:visited {

}

#logo {
  width:100px;
  padding-left:5%;
}

p.small-body {
  font-size: 10px;
}

p.small-body > a {
  text-decoration:underline;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

.left-column {
  display: flex;
  margin-top:5%;
  flex-direction: column;
  margin-left:20%;
}

.right-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left:20%;
}


#pMap {
    height: 350px;
    width: 80%;
    margin-top: 10px;
}

#comments {
  text-align: center;
  width: 80%;
}

input[type=submit] {
  background-color:#00AA44;
  border-radius:10px;
  border:none;
  padding:10px;
  color:white;
}

input[type=text] {
  border-radius:10px;
  padding:10px;
}

input[type=submit]:hover {
  background-color:#058036;
  cursor: pointer;
}

textarea {
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  font-family: arial,sans-serif;
}

h3#comment {
  font-size:12px;
}

p#comment {
  font-size: 12px;
  margin-top:-5px;
}

hr#comment {
  width:100%;
}
